.disabled {
  pointer-events: none;
}

.button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 4px;
  border: none;
  background: var(--primary500);

  &:hover {
    background-color: var(--primary600);
  }

  &:active {
    top: 1px;
  }

  &.alternate {
    color: var(--primary500);
    background: none;

    &:hover {
      background-color: none;
      color: var(--primary600);
    }
  }
}
